/* Your code here */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

button {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

#board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 5px;
}

.square {
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}
